extends layout

block content
    form(action="/login" method="POST")
        label(for="email") Email
        input(type="text" name="email")

        label(for="password") Password
        input(type="password" name="password")

        input(type="submit" value="Login" class="btn")
