doctype html
html(lang="en")
    head
        title= title
        link(rel='stylesheet', href='/css/app.css')
    body
        block content
        div(id="react-app")
        script(type="text/javascript" src="/js/vendor.js")
        script(type="text/javascript" src="/js/app.js")
